<!DOCTYPE html>
<html >
	<head>
		{% load staticfiles %}

		{% block titlename %}
			<title>Student Accounts</title>
		{% endblock %}

<<<<<<< HEAD:templates/basehomepage.html
=======
    <meta charset="UTF-8">
    <link href={% static "http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600" %}" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

>>>>>>> 0091d7fd7aeec0f6ce6fd1a82d30c5c6ad4329bc:templates/base.html
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "css/freelancer.css" %}">

    <!-- Custom Fonts -->
<<<<<<< HEAD:templates/basehomepage.html
    <link rel="stylesheet" type="text/css" href="{% static "fontawesome/css/fontawesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Montserrat:400,700'>
    <link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic'>
=======
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
-    <link rel="stylesheet" type="text/css" href="{% static "http://fonts.googleapis.com/css?family=Montserrat:400,700" %}">
-    <link rel="stylesheet" type="text/css" href="{% static "http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" %}">
>>>>>>> 0091d7fd7aeec0f6ce6fd1a82d30c5c6ad4329bc:templates/base.html
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
		{% block extra_styles %}

		{% endblock %}

	</head>

	<body>
		{% block content %}

		{% endblock %}

    <!-- jQuery -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/static/js/classie.js"></script>
    <script src="/static/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/static/js/jqBootstrapValidation.js"></script>
    <script src="/static/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/freelancer.js"></script>
</html>




