<!DOCTYPE html>
<html >
<html lang="en">
	<head>
		{% load staticfiles %}

		{% block titlename %}
			<title>Login</title>
		{% endblock %}

		<meta charset="UTF-8">
		<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static "css/normalize.css" %}">
		<link rel="stylesheet" href="{% static "css/style.css" %}">

		{% block extra_styles %}

		{% endblock %}

	</head>

	<body>
		{% block content %}

		{% endblock %}

		<script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/index.js"></script>

	</body>
</html>




